<!DOCTYPE html>
<html>
  <head>
    <Title>New Post</Title>
  </head>
  <body>
    <form method='POST' action='create' enctype="multipart/form-data">
      <br />
      <label>Title</label>
      <input type="text" name="title" placeholder="Title"/><br />
      <label>Content</label>
      <textarea name="content">Tell us about this vote.</textarea>
      <br />
      <label>Picture 1</label>
      <input type="file" name="pic1" accept="image/*">
      <br /><br />
      <label>Picture 2</label>
      <input type="file" name="pic2" accept="image/*">
      <br /><br />
      <input type="submit" value="Submit"/>
    </form>
    <% if @post %>
      <%= @post %>
    <% else %>
      <p>
        none
      </p>
    <% end %>
  </body>
</html>
