<!DOCTYPE html>
<html>
  <head>
    <Title>New Post</Title>
  </head>
  <body>
    <form method='POST' action='create'>
      <br />
      <label>Title</label>
      <input type="text" name="title" placeholder="Title"/><br />
      <label>Content</label>
      <textarea name="content">Tell us about this vote.</textarea>
      <br />
      <input type="file" name="pic" accept="image/*">
      <br />
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
