<head>

</head>
<body>

<div class="container-fluid">
  <h1>Vote page!!!</h1>
  <br>

  <div>
    <div style = "display: flex;">
      <div class="container" style= "border: 5px solid black; width: 400px; height: 400px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeNp_ggupdh4r51OozUiyWZup6nV8lzLUnShrSBhPZhcgqJ7_-DA" alt="Norway"  width="100%" height="100%" background-size=" contain;">
        <div class="bottomblack">Choose Black</div>
      </div>

      <!-- <div class="col-sm-2" align="center" style = "font-size: 48px;">
        <p> VS </p>
      </div> -->

      <div class="container" style= "border: 5px solid black; width: 400px; height: 400px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3KcvUBNUHxyFK6qih2oOmqM0zG3ecWb010k_OaHynN69RMMFUtg" alt="Norway" width="100%" height="100%" background-size= "contain;">
        <div class="bottomwhite">Choose White</div>
      </div>
    </div>
 </div>

    <%if Like.where(:user_id=>current_user).where(:vpost_id => p).empty?%>
      <div class="button-holder">
        <a href = "/like/:post_id"> <button type="button" class="btn btn-primary">Like </button></a>
      </div>
    <%else%>
      <div class="button-holder">
        <a href = "/like/:post_id"> <button type="button" class="btn btn-danger">Unlike </button> </a>
      </div>
    <%end%>






        <div style = "display: flex;">
          <button type="button" class="btn btn-primary">Choose A</button>
          <button type="button" class="btn btn-secondary">skip</button>
          <button type="button" class="btn btn-danger">Choose B</button>
        </div>
      <div style = "display: flex;">
        <div style= "border: 5px solid black; width: 300px; height: 100px;">
          <p> A percentage </p>
        </div>

        <div style = "font-size: 48px;">
          <p> VS </p>
        </div>

        <div style= "border: 5px solid black; width: 300px; height: 100px;">
          <p> B percentage </p>
        </div>

  </div>

</div>
</body>
