<head>

</head>
<body>

<div class="container-fluid">
  <h1>Vote page!!!</h1>
  <br>

  <div>
    <div class ="row">
      <div class="col-sm-6" style= "border: 5px solid black; width: 400px; height: 400px;">
        <p> Picture A </p>
      </div>

      <!-- <div class="col-sm-2" align="center" style = "font-size: 48px;">
        <p> VS </p>
      </div> -->

      <div class="col-sm-6" style= "border: 5px solid black; width: 400px; height: 400px;">
        <p> Picture B </p>
      </div>
    </div>
 </div>



        <a href = "#"> <button type="button" class="btn btn-primary">Like </button></a>

        <a href = "#"> <button type="button" class="btn btn-danger">Unlike </button> </a>


        <div style = "display: flex;">
          <button type="button" class="btn btn-primary">Choose A</button>
          <button type="button" class="btn btn-secondary">skip</button>
          <button type="button" class="btn btn-danger">Choose B</button>
        </div>
      <div style = "display: flex;">
        <div style= "border: 5px solid black; width: 300px; height: 100px;">
          <p> A percentage </p>
        </div>

        <div style = "font-size: 48px;">
          <p> VS </p>
        </div>

        <div style= "border: 5px solid black; width: 300px; height: 100px;">
          <p> B percentage </p>
        </div>

  </div>

</div>
</body>
